#root {
  margin: 0;
  padding: 0;
  text-align: center;
}

.root-div{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  
}
.main{
  min-width: 420px;
}
.header{
  position: relative;
  top: 0;
  background: #000000;
  left: 0;
  z-index: 3;
  min-width: 420px;
  color: #fff;
  font-weight: 700;
  font-size: 17px;
  display: flex;
  min-height: 79px;
  flex-direction: column; 
}
.footer{
  position: relative;
  font-size: 16px;
  line-height: 24px;
  min-width: 420px;
  max-width: 100%;
  padding-bottom: 60px;
  color: white;
  background-color: #000000;
  font-family: 'GT America Standard', sans-serif;
}
.footer-container{
  margin: 0 auto;
  width: 90%;
  max-width: 1900px;
  position: relative;
  padding-bottom: 100px;
}
.footer-column{
  text-align: left;
  width: 20%;
  display: inline-block;
  vertical-align: top;
  margin: 20px;
}
.footer-title{
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
}
.footer a{
  color: white;
  display: block;
  cursor: pointer;
}
.footer a:hover{
  text-decoration: underline;
}
strong{
  font-weight: bold;
}
.topbar_inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 1900px;
  margin: auto;
  width: 90%;
}
.topbar_logo-wrapper {
  display: flex;
  align-items: center;
}

.topbar_logo {
  display: inline-block;
  margin: 4px 0 0 0.8rem;
  vertical-align: middle;
  color: #fff;
  font-family: 'GT America Standard';
  font-size: 1.6rem; 
  font-weight: 400;
  letter-spacing: -.5px;
  padding: 0.2rem 0 0.3rem 0.4rem;
  transition: all .3s;
  cursor: pointer;
}

.topbar__helpcenter {
  margin: 4px 0 0 0.8rem;
  color: #fff;
  font-family: 'GT America Standard';
  font-size: 1.6rem; 
  font-weight: 400;
  line-height: 23px;
  letter-spacing: -.5px;
  padding: 0.2rem 0 0.4rem 0.8rem; 
  border-left: 2px solid #fff;
  transition: all .3s;
  cursor: pointer;
  
}
.topbar_buttons {
  display: flex;
  align-items: center;
}
.hero-unit {
 
  position: sticky;
  padding-top: 80px;
  padding-bottom: 115px;
  background-color: #DADBF1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.topbar_logo:hover {
  color: rgb(198, 206, 214);
}

.topbar__helpcenter:hover {
  color: rgb(198, 206, 214);
  text-decoration: underline;
}

.request_button{
  padding: 6px 22px;
  font-size: 24px;
  line-height: 1.5;
  border-radius: 8px;
  color: white;
  border: 1px solid white;
  background-color: #2c292973;
  display: inline-block;
  margin-bottom: 0;
  background-image: none;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  font-family: "GT America Standard", serif;
  font-weight: 400;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
.sign_in{
  padding: 6px 22px;
  font-size: 24px;
  font-weight: 400;
  font-family: "GT America Standard", serif;
  color: white;
  background-color: #4C5FD5;
  border-color: #4C5FD5;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  line-height: 1.5;
  display: inline-block;
  margin-bottom: 0;
  background-image: none;
  vertical-align: middle;
  white-space: nowrap;
  margin-left: 15px;
  margin-right: 50px;
  
}
.sign_in:hover{
  color: black;
  background-color: white;
}

.mobile_buttons {
  position: absolute;
  top: 100px;
  z-index: 3;
  width: 100%; 
  background: #000000;
  color: #fff;
  font-weight: 700;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-height: 100px;
}

#menuicon {
  width: 30px; 
  height: 30px;
  border: 1px solid black; 
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.menu-icon-image{
  width: 35px; 
  height: 35px;
  object-fit: contain;
}


.sectionTag{
  font-family: 'GT America Standard', sans-serif;
  color: #000000;
  font-size: 70px;
  letter-spacing: -4px;
  line-height: 76ox;
  font-weight: 400;
  margin: 0 0 1rem;
}
.input1{
  display: block;
    width: 100%;
    height: auto;
    padding: 0.5em 1em;
    font-size: 20px;
    font-family: "GT America Standard", sans-serif;
    font-weight: 400;
    line-height: 28px;
    color: #000000;
    background-color: #fff;
    background-image: none;
    border: 1px solid #000000;
    
}

.logo-icon{
  position: relative;
  left:15px;
  cursor: pointer;
}
.MiddlePage{
  height: 500px;
  background-color: #ffffff;
}



@media (max-width: 360px) {

  .topbar_logo-wrapper {
    position: absolute; 
    top: 0;    
  }
  #menuicon{
    position: fixed;
    left: 50px;
    top: 40px;
  }
 
}
@media (max-width: 645px) {
  .sectionTag{
    font-size: 60px;
  }
 
}
@media (max-width: 500px) {
  .sectionTag{
    font-size: 45px;
  }
  
 
}
@media screen and (max-width: 768px) {
  .input1 {
    width: 80%;
    font-size: 16px;
  }
  .footer-column {
    margin-right: 80px
  }
}

@media screen and (max-width: 480px) {
  .input1 {
    width: 90%;
    font-size: 14px;
  }
}

@media screen and (max-width:1440px){
  .footer-column{
    width:15%;
  }
}






